<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="msapplication-TileColor" content="#FFFFFF" />
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<!-- <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"> -->

<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/media/layout/favicons/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/media/layout/favicons/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/media/layout/favicons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/media/layout/favicons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/media/layout/favicons/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/media/layout/favicons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/media/layout/favicons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/media/layout/favicons/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="/media/layout/favicons/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="/media/layout/favicons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="/media/layout/favicons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/media/layout/favicons/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="/media/layout/favicons/favicon-128.png" sizes="128x128" />
<meta name="msapplication-TileImage" content="/media/layout/favicons/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="/media/layout/favicons/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="/media/layout/favicons/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="/media/layout/favicons/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="/media/layout/favicons/mstile-310x310.png" />


<!-- External Assets -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<!-- CSS -->
{% asset main.scss %}
