---
_options:
  layout:
    hidden: true
  style_id:
    hidden: true
_comments:
  titel: Erscheint im Browser-Tab und für SEO
style_id: vita
layout: page_de
titel: Über mich
portrait_image: /media/uploads/Claire Saint-1612.jpg
referenzen:
  - datum: '''04.2010'
    titel: Backing Vocals für das Album ‚Mighty to Save’ von Neal Morse
    audio_path:
  - datum: 07.08.2012/03.09.2014
    titel: Auftritte bei Firmenevents eines Pharmaunternehmens
    audio_path:
  - datum: 29.08.2015/20.08.2016
    titel: Hochzeitsgigs
    audio_path:
  - datum: '11.2016'
    titel: Backing Vocals bei der Niederlande-Tour von Neal Morse
    audio_path:
  - datum: 24.11.2017
    titel: Jingle Produktion für KISS FM Berlin
    audio_path: /media/uploads/kissfm-jingle.mp3
  - datum: 07.08.2018
    titel: Jingle Produktion für Planet Radio
    audio_path: /media/uploads/planet-radio-jingle.mp3
  - datum: 14./15. 09.2018
    titel: Auftritt im Background-Chor beim Morsefest
    audio_path:
  - datum: 19.03.2019
    titel: Jingle Produktion für KISS FM Canada
    audio_path:
  - datum: 28.05.2019
    titel: Pitch Song Produktion
    audio_path:
  - datum: 25.06.2020
    titel: Jingle Produktion für Delta Radio
    audio_path:
  - datum: 30.10.2020
    titel: Jingle Produktion für sunshine live
    audio_path:
---

<section class="content">
  <h2 class="editable">
    <strong>Vita</strong>
  </h2>

  <div class="vita">
    <div class="vita__portrait">
      {% assign file_name = page.portrait_image | split: '/' | last %}
      {% asset '{{ file_name }}' magick:resize=600 alt="portrait" %}
    </div>

    <div class="vita__block">
      <div class="vita__text editable">
        <p>&bdquo;Musik ist mein Elixier&ldquo; ist nicht nur Hauptaussage der ersten Singleauskopplung von Claire Saints Album, es ist auch die Hauptaussage ihres Lebens.</p>
        <p>Als Marie-Claire Toussaint in Berlin geboren und aufgewachsen, hat sie schon fr&uuml;h viele verschiedene Arten der Kunst kennenlernen d&uuml;rfen, besonders die Musik. Neben einer umfangreichen Ausbildung innerhalb der Oberschulzeit (Chor, Dirigieren, Gesang, Musikleistungskurs), nahm sie Klavier-, Gitarren- und Gesangsunterricht. Sie war Teil von verschiedenen Bands und begann, eigene Songs innerhalb von Musikprojekten zu schreiben. 2009 ver&ouml;ffentlichte sie ihre erste EP &bdquo;Cover me&ldquo; mit vier englischsprachigen Songs, die heute noch auf SoundCloud zu finden ist.</p>
        <p>Der richtige Umbruch gelang ihr, als sie 2015 Florian Streso kennenlernte, der ebenfalls Musik machte. Sie hatte die Stimme und die Melodien, die er die ganze Zeit gesucht hat, er die Texte, die sie immer singen wollte. Aus dem Projekt &bdquo;Claireffendi&ldquo; sind wundersch&ouml;ne, selbst geschriebene und komponierte Songs entstanden, die auch teilweise auf Claire Saints Deb&uuml;talbum erscheinen werden.</p>
        <p>Ihr Album 'This is Claire Saint' hat sie in Amerika in den Shuffle Brother Studios produzieren lassen. Zusammen mit Gideon Klein und Gabriel Klein verleiht sie den tiefen und authentischen Texten einen unvergesslichen Klang, der zum Nachdenken und Tr&auml;umen anregt und eine ganz neue Art Popmusik erschafft.</p>
        <p>Claire Saint hat nach dem Abitur 8 Monate in Nashville gelebt. Durch die Chance bei dem Musiker Neal Morse und seiner Familie zu leben, konnte sie einen engen Bezug zu dem Land, den Leuten, der Musik und der Sprache aufbauen. Das bewegte sie dazu, das Album in 2 CD&rsquo;s zu splitten, einen Teil mit deutschen Songs und einen Teil mit englischen Songs. Dies soll Claire Saints Leben zwischen und in diesen zwei Welten beschreiben, da sie auch in Zukunft in den USA und Deutschland leben will. Da ihr Album ein Portrait ihres Lebens darstellt, hei&szlig;t es 'This is Claire Saint'. Am 27.12.19 wird es ver&ouml;ffentlicht.&nbsp;</p>
        <p>Claire Saint hat viel B&uuml;hnenerfahrung durch zahlreiche Gesangs- und Chorauftritte in den unterschiedlichsten L&auml;ndern gesammelt (Ungarn, Estland, Italien, j&auml;hrliche Auftritte im Konzerthaus und in der Philharmonie Berlin). Wenn sie vor einem Publikum singen darf, f&uuml;hlt sie sich zu Hause. Auch auf Hochzeiten und bei Firmenevents ist sie aufgetreten und bietet dies auch weiterhin an (bei Interesse einfach das Kontaktformular ausf&uuml;llen).</p>
      </div>

      <div class="vita__cta">
        <a href="/de/kontakt" class="btn btn--dk editable">Kontakt aufnehmen!</a>
      </div>

      <div class="references">
        <h3 class="editable">
          Referenzen
        </h3>

        <ul>
          {% for referenz in page.referenzen %}
            <li>
              <strong>{{ referenz.datum }}</strong>:&nbsp;
              <span>{{ referenz.titel }}</span>&nbsp;
              {% if referenz.audio_path %}
                <span class="referenz__audio">
                  <audio><source class="referenz__audio--{{ forloop.index }}" src="{{ referenz.audio_path }}" type="audio/mpeg" /></audio>
                  <i class="referenz__audio__btn far fa-play-circle"></i>
                </span>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

</section>
