/*

- Global styles
- Typography
- Forms
- Buttons
- Helper classes

*/

// Global Styles

* { box-sizing: border-box; }
body {
  font-family: $font;
  font-size: 14px;
  font-weight: $font-weight;
  line-height: 1.5;
  color: #222;

  background-color: $clr-bg;
}

img {
  max-width: 100%;

  &.img-stretched { width: 100%; }
  &.img-centered { margin: auto; }
}

// Typography

a {
  text-decoration: none;
  color: $clr-primary;
  transition: all .3s;

  &:hover {
    // text-decoration: underline;
    color: $clr-primary--lt1;
  }
}
b, strong { font-weight: $font-weight-bld; }
small { font-size: 0.7rem; }
h1 {
  font-size: 3.6rem;
  font-weight: $font-weight-bld;
  line-height: 1.1;

  @media(max-width: 1000px) {
    font-size: 3rem;
  }
  @media(max-width: 800px) {
    font-size: 2rem;
  }
}
h2 {
  font-size: 2.6rem;
  font-weight: $font-weight-lt;
  margin-bottom: 30px;

  @media(max-width: 1000px) {
    font-size: 2rem;
  }
  @media(max-width: 800px) {
    font-size: 1.4rem;
  }
}
h3 {
  font-size: 2rem;
  font-weight: $font-weight-bld;
}
h4, h5, h6 { font-weight: $font-weight-bld; }

// Forms

input,
textarea {
  background-color: transparent;
  border: 1px solid rgba(0,0,0,0.7);
  padding: 8px;
  outline: none;

  font-size: 14px;
  font-family: $font;

  transition: border-color .3s;

  &:active,
  &:focus {
    border-color: $clr-primary;
  }
}

// Buttons

.btn {
  font-size: 14px;
  font-family: $font;
  outline: none;
  cursor: pointer;
  padding: 8px 16px;
  transition: all .3s;
}

.btn--lt {
  border: 2px solid $clr-white;
  border-radius: 2px;
  color: $clr-white;
  font-weight: $font-weight-bld;

  &:hover {
    border-color: $clr-primary--lt1;
    color: $clr-primary--lt1;
  }
}

// [type="submit"],
// button {
//   font-size: 14px;
//   font-family: $font;
//   border: none;
//   outline: none;
//   cursor: pointer;
//   padding: 8px;
//
//   background-color: $clr-primary;
//   transition: background-color .3s;
//
//   &:hover {
//     background-color: $clr-primary--lt1;
//   }
// }

// Helper Classes

.content {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

// Video Embed Responsive

.embed-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.embed-wrapper iframe,
.embed-wrapper object,
.embed-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
