/*

- Navigation
- Header
- Footer

*/

.site-wrapper {
  margin: auto;
  max-width: $site-width-max;
}

/* NAVIGATION */
.site-wrapper>nav {
  background-color: $clr-bg;

  .content {
    display: flex;
    &>* { flex-basis: 30%; }
    @media(min-width: 620px) {
      .spacer { flex-basis: 0; }
      .menu { flex-grow: 1; }
    }
    @media(min-width: 1180px) {
      .spacer,
      .menu {
        flex-basis: 30%;
        flex-grow: 1;
      }
    }


    padding: 10px;
    @media(min-width: 620px) {
      padding: 30px 0 30px 10px;
    }
  }

  .logo {
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;

    img {
      height: 58px;
      width: auto;
    }
  }

  ul {
    display: none;
    transition: all .3s;

    // Desktop styles:
    @media(min-width: 620px) {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .open {
    // Dropdown menu open:
    @media(max-width: 619px) {
      ul {
        z-index: 99;

        display: block;
        position: fixed;
        top: 63px;
        right: 0;
        left: 0;
        bottom: 0;
        text-align: center;
        background-color: $clr-bg;
      }
    }
  }

  li {
    padding: 5px;
    flex-shrink: 0;

    /* Desktop */
    @media(min-width: 620px) {
      padding: 0;

      display: inline-block;
      font-weight: $font-weight-bld;

      margin: 0 10px;
    }
  }

  a {
    font-weight: $font-weight;
    text-transform: uppercase;
  }

  .menu {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: flex-end;
  }

  // Customize hamburger:
  .hamburger {
    display: block;
    outline: none;
    padding: 5px;

    // Hide hamburger on mobile
    @media(min-width: 620px) {
      display: none;
    }
  }
}

/* HEADER */

.site-wrapper>header {
  h1, h2 {
    text-align: center;
  }
  h1 {
    text-transform: uppercase;
    font-size: 4rem;
    @media(max-width: 800px) {
      font-size: 2.6rem;
    }
  }
  h2 {
    font-size: 1rem;
  }
}

/* FOOTER */

.site-wrapper>footer {
  text-align: center;
  margin: 50px 0 20px;

  .social {
    font-size: 2rem;
    i { padding: 0 5px; }
  }
  .legal {
    margin-top: 30px;
    font-size: .7rem;
  }

  // font-size: 0.7rem;
  // text-align: center;
  // padding: 10px;
  // border-top: 1px solid #222;
}
