---
_options:
  layout:
    hidden: true
  style_id:
    hidden: true
_comments:
  titel: Erscheint im Browser-Tab und für SEO
style_id: vita
layout: page
titel: About Me
referenzen:
  - datum: 04.2010
    titel: Backing Vocals for the Album ‚Mighty to Save’ - Neal Morse
    audio_path:
  - datum: 07.08.2012/03.09.2014
    titel: Performance for company events of Elpen Pharma
    audio_path:
  - datum: 29.08.2015/20.08.2016
    titel: Wedding gigs
    audio_path:
  - datum: '11.2016'
    titel: Backing Vocals for Holland-Tour of Neal Morse
    audio_path:
  - datum: 24.11.2017
    titel: Jingle production for KISS FM Berlin
    audio_path: /media/uploads/wisebuddah_jingles_-_kiss_fm_berlin_2018_montage__v2_.mp3
  - datum: 07.08.2018
    titel: Jingle production for Planet Radio
    audio_path:
  - datum: 14./15. 09.2018
    titel: Backing choir at Morsefest
    audio_path:
  - datum: 19.03.2019
    titel: Jingle Produktion for KISS FM Canada
    audio_path:
  - datum: 28.05.2019
    titel: Pitch Song production
    audio_path:
---

<section class="content">
  <h2 class="editable">
    <strong>Vita</strong>
  </h2>

  <div class="vita">
    <div class="vita__portrait">
      <img alt="portrait" class="editable" src="/media/uploads/dsc-4170.jpg" width="400" />
    </div>

    <div class="vita__block">
      <div class="vita__text editable">
        <p>&bdquo;Music is my elixir&ldquo; is not only the main statement of the first single of Claire Saints debut album, it is also her life motto.</p>
        <p>As Marie-Claire Toussaint born and raised in Berlin, she got to know a lot of different types of art, especially music. Next to a comprehensive education while going to school (singing in a choir, conducting, singing, music as an advanced course), she took piano, guitar and singing lessons. She was part of several bands and started within different music projects to write her own songs. In 2009, she released her first EP &bdquo;Cover me&ldquo; with four songs in English that can still be found on her SoundCloud page.</p>
        <p>The real transition started when she met Florian Streso in 2015, who was also doing music. She had the voice and the melodies he was always searching for, he had the lyrics she always wanted to sing. Within the project &bdquo;Claireffendi&ldquo;, they produced wonderful, self-written songs. Some of these songs will also be released on Claire Saints debut album.</p>
        <p>She is producing her first album mainly in America at the Shuffle Brother Studios. Together with Gideon Klein and Gabriel Klein she is giving the very deep and authenic texts an unique sound that inspires the listener and raises a very new type of pop music.</p>
        <p>After Claire Saint finished school, she lived in Nashville for 8 months and&nbsp; built a connection to the land, the people and the language overthere. That is why, she decided to split up her album into 2 EP&rsquo;s, one part with 6 Songsin German and one part with 6 Songs in English. This shall describe Claire Saints life between and within these two worlds. The album title aims at the perspective of her life and will be announced in July/August. Hopefully in the fall, the album will be ready to be released.&nbsp;</p>
        <p>Right now, there is a small concert tour planned in Germany (Leipzig, Berlin) and America (Nashville). After that, she is planning on going to Brazil for three months to make music, tour and encounter the Brazilian music market. That is why, she is learning Portugese at the moment.</p>
        <p>Claire Saint has a lot of stage experience because of several singing and choir concerts in different countries (Hungary, Estonia, Italy, annual concerts at the Konzerthaus and in the Philharmonie Berlin). It feels like home for her when she gets the opportunity to sing infront of an audience. She also sang at weddings and company events before and still offers the option to book her for those occasions (if you are interested, please contact her via the contact form).</p>
      </div>

      <div class="references">
        <h3 class="editable">
          References
        </h3>

        <ul>
          {% for referenz in page.referenzen %}
            <li>
              <strong>{{ referenz.datum }}</strong>:&nbsp;
              <span>{{ referenz.titel }}</span>&nbsp;
              {% if referenz.audio_path %}
                <span class="referenz__audio">
                  <audio><source class="referenz__audio--{{ forloop.index }}" src="{{ referenz.audio_path }}" type="audio/mpeg" /></audio>
                  <i class="referenz__audio__btn far fa-play-circle"></i>
                </span>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

</section>
