---
layout: default
---

<nav>
  <div class="content">
    <!-- <div class="logo">
      <a href="/">Claire Saint</a>
    </div> -->
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="menu">
      <button class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <ul>
        <li><a href="/">Home</a></li><!-- <li><a href="/showreel">Showreel</a></li> -->
        <li><a href="/musik">Musik</a></li>
        <li><a href="/galerie">Galerie</a></li>
        <li><a href="/vita">Vita</a></li><!-- <li><a href="/referenzen">Referenzen</a></li> -->
        <li><a href="/kontakt">Kontakt</a></li>
      </ul>
    </div>

  </div>
</nav>

<header>
  <h1>Claire Saint</h1>
  <h2>singer - songwriter</h2>
</header>

<main>
  {{ content }}
</main>

<!-- {% include footer.html %} -->
