---
layout: default
---

<nav>
  <div class="content">
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="menu">
      <button class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/music">Music</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/vita">Vita & References</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/">en</a> / <a href="/de">de</a></li>
      </ul>
    </div>

  </div>
</nav>

<header>
  <h1 class="editable">Claire Saint</h1>
  <h2 class="editable">singer - songwriter</h2>
</header>

<main>
  {{ content }}
</main>

<footer>
  <div class="social">
    <a href="https://www.instagram.com/thisisclairesaint/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/thisisclairesaint/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="#" target="_blank"><i class="fab fa-spotify"></i></a>
    <a href="#" target="_blank"><i class="fab fa-itunes"></i></a>
    <a href="#" target="_blank"><span class="icon-deezer"></span></a>
    <!-- <a href="https://soundcloud.com/claire-saint" target="_blank"><i class="fab fa-soundcloud"></i></a> -->
  </div>
  <div class="legal">
    <a href="/legal">Legal</a>
    &nbsp;|&nbsp;
    <a href="/privacy">Privacy</a>
  </div>
</footer>
