<!DOCTYPE html>
<html lang='de'>
  <head>
    <title>{% if page.titel %}{{ page.titel | escape }} | {% endif %}{{ site.titel | escape }}</title>
    <meta name="application-name" content="{{ site.titel }}" />
    <meta name="description" content="{% if page.seo_beschreibung %}{{ page.seo_beschreibung | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.data.seite.seo_beschreibung_deutsch }}{% endif %}" />

    {% include head.html %}
  </head>
  <body>

    <div class="site-wrapper" data-page="{{ page.style_id }}">
      <nav>
        <div class="content">
          <div class="spacer"></div>
          <div class="spacer"></div>
          <div class="menu">
            <button class="hamburger hamburger--collapse" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
            <ul>
              <li><a class="editable" href="/de">Home</a></li>
              <li><a class="editable" href="/de/musik">Musik</a></li>
              <li><a class="editable" href="/de/galerie">Galerie</a></li>
              <li><a class="editable" href="/de/ueber-mich">Über mich</a></li>
              <li><a class="editable" href="/de/kontakt">Kontakt</a></li>
              <li><a href="/">en</a> / <a href="/de">de</a></li>
            </ul>
          </div>

        </div>
      </nav>

      <header>
        <h1 class="editable">
          Claire Saint
        </h1>
        <h2 class="editable">
          singer - songwriter
        </h2>
      </header>

      <main>
        {{ content }}
      </main>

      <footer>
        <div class="social">
          <a class="editable" href="https://www.instagram.com/thisisclairesaint/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a class="editable" href="https://www.facebook.com/thisisclairesaint/" target="_blank"><i class="fab fa-facebook"></i></a>
          <a class="editable" href="#" target="_blank"><i class="fab fa-spotify"></i></a>
          <a class="editable" href="#" target="_blank"><i class="fab fa-itunes"></i></a>
          <a class="editable" href="#" target="_blank"><span class="icon-deezer"></span></a>
          <!-- <a href="https://soundcloud.com/claire-saint" target="_blank"><i class="fab fa-soundcloud"></i></a> -->
        </div>
        <div class="legal">
          <a class="editable" href="/de/impressum">Impressum</a>
          &nbsp;|&nbsp;
          <a class="editable" href="/de/datenschutz">Datenschutz</a>
        </div>
      </footer>
    </div>

    {% include javascripts.html %}
    {% asset main.js %}
  </body>
</html>
