[data-page="gallery"] {

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 0 -10px; // same as img margin

    img {
      height: 260px;
      margin: 10px;
    }
  }

}
