[data-page="impressum"] {
  main {
    margin: 0 auto 40px;
    max-width: 840px;

    h1, h2, h3, h4, h5, h6 {
      font-size: 1.3rem;
      font-weight: $font-weight-bld;
      margin-bottom: 10px;
    }
    h1 { font-size: 2rem; }
    h3, h4, h5, h6 { font-size: 1rem; }

    p { margin-top: 10px; }
  }
}
