[data-page="vita"] {

  .vita {
    @media(min-width: 620px){
      display: flex;
    }
  }

  .vita__text {
    flex: 1 1;
  }

  .vita__portrait {
    margin-bottom: 20px;

    @media(min-width: 620px){
      flex: 0 0;
      flex-basis: 300px;
      margin-right: 20px;

      img {
        position: sticky;
        top: 247px; /* height of the nav */
      }
    }
  }

  p {margin-bottom: 20px;}

  .referenz__audio {
    cursor: pointer;

    &:hover { color: $clr-primary--lt1; }
  }
}
